<header class="text-gray-600 body-font">
  <div
    class="
      container
      mx-auto
      flex flex-wrap
      p-5
      flex-col
      md:flex-row
      items-center
    "
  >
    <a
      href="{{url_for('index')}}"
      class="
        flex
        title-font
        font-medium
        items-center
        text-gray-900
        mb-4
        md:mb-0
      "
    >
      <span class="text-2xl">Beans.co</span>
    </a>
    <nav
      class="md:ml-auto flex flex-wrap items-center text-base justify-center"
    >
      <a href="{{ url_for('index') }}" class="mr-5 hover:text-gray-900">Home</a>
      <a href="{{ url_for('berita') }}" class="mr-5 hover:text-gray-900"
        >News</a
      >
      <a href="{{url_for('coffe')}}" class="mr-5 hover:text-gray-900">Coffe</a>
      <a href="{{url_for('about')}}" class="mr-5 hover:text-gray-900"
        >About Me</a
      >
    </nav>
  </div>
</header>
