{%extends 'base.html'%} {%block content%}
<section class="text-gray-600 body-font">
  <div class="container mx-auto px-5 py-10 flex flex-wrap items-center">
    <div
      class="
        lg:flex-grow
        md:w-1/2
        lg:pr-24
        md:pr-16
        flex flex-col
        md:items-start md:text-left
        mb-16
        md:mb-0
        items-center
        text-center
      "
    >
      <h1
        class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900"
      >
        KOMITMEN DALAM IDEALISME
      </h1>
      <p class="mb-8 leading-relaxed">
        Selaras dengan kampanye kami : "Yes, I Drink Indonesian Coffee" maka
        Beans.co berkomitment HANYA menggunakan biji - biji kopi terbaik
        Indonesia. Lagipula kopi Indonesia tidak kalah juga koq dengan kopi dari
        luar negeri. Kami menggunakan dua varian kopi : Arabika dan Robusta.
        Untuk arabika kami menggunakan grade "Specialty Arabica", sedangkan
        untuk robusta kami menggunakan grade "Fine Robusta". Kualitas terbaik di
        kelasnya. Saat ini kami menyediakan 8 origin terbaik dari berbagai
        perkebunan yang tersebar di Indonesia, salah satunya dari perkebunan
        kami sendiri di lereng Gunung Arjuno, Jawa Timur. Dengan berjalannya
        waktu, kami berencana untuk menambah varian coffee origin ini agar
        masyarakat Indonesia dapat menikmati aks biji - biji kopi terbaik dari
        seluruh Indonesia dengan harga terjangkau dan dengan mudah.
      </p>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img
        class="object-cover object-center rounded"
        alt="hero"
        src="../static/images/coffee-beans-white-wooden-wall-closeup.jpg"
      />
    </div>

    <div class="mb-6 w-full mt-6">
      <h1
        class="
          sm:text-3xl
          md:text-5xl
          font-medium
          w-1/6
          title-font
          text-gray-900
          mb-4
          border-b-8 border-yellow-500
        "
      >
        Kualitas
      </h1>
      <p class="leading-relaxed text-base">
        Kami memahami bahwa kualitas aroma dan rasa dari biji kopi adalah
        keutamaan,. Kami di Beans.comenyadari hal ini, oleh karena itu
        kami memastikan bahwa setiap proses perjalanan biji kopi, mulai dari
        pemetikan sampai penyeduhan memegang peranan penting dalam mentukan
        kualitas satu cangkir kopi kamu.
      </p>
    </div>

    <div class="p-4 md:w-1/3 flex flex-col items-center">
      <img src="../static/images/kualitas1.jpg" alt="" />

      <div class="flex-grow">
        <h2 class="text-gray-900 mt-3 text-lg title-font font-bold mb-3">
          IN-BOUND QC
        </h2>
        <p class="leading-relaxed text-base">
          Pengecekan kualitas dimulai pertama kali ketika biji kopi green bean
          datang di fasilitas gudang dan pemanggangan.
        </p>
      </div>
    </div>
    <div class="p-4 md:w-1/3 flex flex-col items-center">
      <img src="../static/images/kualitas2.jpg" alt="" />

      <div class="flex-grow">
        <h2 class="text-gray-900 mt-3 text-lg title-font font-bold mb-3">
          IN-BOUND QC
        </h2>
        <p class="leading-relaxed text-base">
          Kami melakukan cupping score terhadap dengan metode random sampling
          untuk biji - biji kopi yang kami terima dari para petani dan suplier.
        </p>
      </div>
    </div>
    <div class="p-4 md:w-1/3 flex flex-col items-center">
      <img src="../static/images/kualitas3.jpg" alt="" />

      <div class="flex-grow">
        <h2 class="text-gray-900 mt-3 text-lg title-font font-bold mb-3">
          IN-BOUND QC
        </h2>
        <p class="leading-relaxed text-base">
          Kami memastikan kamu mendapatkan biji kopi dengan tingkat kesegaran
          terbaik melalui panggangan terbaru di setiap gerai Beans.co.
        </p>
      </div>
    </div>
  </div>
</section>

{%endblock%}
