{% extends "base.html" %} {% block content %}
<section class="text-gray-600 body-font">
  <div
    class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center"
  >
    <div
      class="
        lg:flex-grow
        md:w-1/2
        lg:pr-24
        md:pr-16
        flex flex-col
        md:items-start md:text-left
        mb-16
        md:mb-0
        items-center
        text-center
      "
    >
      <h1 class="title-font text-7xl mb-4 font-medium text-gray-900">
        Seriously <br class="hidden lg:inline-block" />Good Coffe
      </h1>
      <p class="mb-8 leading-relaxed text-2xl">
        Enjoy today and every day with our creamy
        <br class="hidden lg:inline-block" />nondairy beverage options. Smooth,
        delicious and <br class="hidden lg:inline-block" />subtly sweet.
      </p>
      <div class="flex justify-center">
        <button
          class="
            inline-flex
            text-white
            bg-indigo-500
            border-0
            py-2
            px-6
            focus:outline-none
            hover:bg-indigo-600
            rounded-lg
            text-lg
          "
        >
          Buy  Now
        </button>
      </div>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img
        class="object-cover object-center rounded"
        alt="hero"
        src="../static/images/coffe (3).png"
      />
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-10 mx-auto">
    <div class="text-center mb-6">
      <h1
        class="
          sm:text-3xl
          md:text-5xl
          font-medium
          title-font
          text-gray-900
          mb-4
        "
      >
        Our Advantages
      </h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
        The process is quite long. Coffee beans are cooked in the oven for about
        4 hours until they reach 80 percentmaturity in the oven. The coffee we
        have is fresh roasted. The best period is two weeks after roasting.
      </p>
    </div>
    <div class="my-16 sm:flex flex-wrap justify-center items-center gap-8">
      <!-- Basic -->
      <div
        class="
          w-full
          sm:w-1/2
          md:w-1/2
          lg:w-1/4
          px-4
          py-4
          bg-white
          mt-6
          shadow-lg
          rounded-lg
        "
      >
        <div class="px-6 py-8 sm:p-10 sm:pb-6">
          <div class="flex justify-center">
            <div
              class="
                w-32
                h-32
                inline-flex
                items-center
                justify-center
                rounded-full
                bg-white
                shadow-xl
                text-indigo-500
                mb-5
                flex-shrink-0
              "
            >
              <img
                class="w-20 h-20"
                src="../static/images/intelligence.png"
                alt=""
              />
            </div>
          </div>
        </div>

        <div class="flex justify-center">
          <span
            class="
              inline-flex
              text-sm
              leading-5
              font-semibold
              tracking-wide
              uppercase
              border-b-4
            "
          >
            Intelligence
          </span>
        </div>
        <p class="lg:w-2/3 mx-auto text-center leading-relaxed text-base mt-5">
          Intelligent Pre Brew Aroma System I.P.B.A.S
        </p>
      </div>

      <!-- Popular -->

      <div
        class="
          w-full
          sm:w-1/2
          md:w-1/2
          lg:w-1/4
          px-4
          py-4
          bg-white
          mt-6
          shadow-lg
          rounded-lg
        "
      >
        <div class="px-6 py-8 sm:p-10 sm:pb-6">
          <div class="flex justify-center">
            <div
              class="
                w-32
                h-32
                inline-flex
                items-center
                justify-center
                rounded-full
                bg-white
                shadow-xl
                text-indigo-500
                mb-5
                flex-shrink-0
              "
            >
              <img
                class="w-20 h-20"
                src="../static/images/settings.png"
                alt=""
              />
            </div>
          </div>
        </div>

        <div class="flex justify-center">
          <span
            class="
              inline-flex
              text-sm
              leading-5
              font-semibold
              tracking-wide
              uppercase
              border-b-4
            "
          >
            Connector
          </span>
        </div>
        <p class="lg:w-2/3 mx-auto text-center leading-relaxed text-base mt-5">
          Interchangeable nozzle system
        </p>
      </div>

      <!-- premium -->
      
     <div
        class="
          w-full
          sm:w-1/2
          md:w-1/2
          lg:w-1/4
          px-4
          py-4
          bg-white
          mt-6
          shadow-lg
          rounded-lg
        "
      >
        <div class="px-6 py-8 sm:p-10 sm:pb-6">
          <div class="flex justify-center">
            <div
              class="
                w-32
                h-32
                inline-flex
                items-center
                justify-center
                rounded-full
                bg-white
                shadow-xl
                text-indigo-500
                mb-5
                flex-shrink-0
              "
            >
              <img
                class="w-20 h-20"
                src="../static/images/dial.png"
                alt=""
              />
            </div>
          </div>
        </div>

        <div class="flex justify-center">
          <span
            class="
              inline-flex
              text-sm
              leading-5
              font-semibold
              tracking-wide
              uppercase
              border-b-4
            "
          >
            Rotary Switch
          </span>
        </div>
        <p class="lg:w-2/3 mx-auto text-center leading-relaxed text-base mt-5">
          Smart home switch with scene remote
        </p>
      </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-10 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Our Client</h1>
      <p class="w-2/3 mx-auto leading-relaxed text-base">We have been working together for a long time to supply coffee
        <br> to several coffee shops in Indonesia
.</p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative shadow-2xl ">
          <img alt="gallery" class=" inset-0 w-full h-full object-cover object-center" src="../static/images/janji.jpg">
         
        </div>
      </div>
     
      
          <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative shadow-2xl ">
          <img alt="gallery" class=" inset-0 w-30 h-full object-cover object-center" src="../static/images/janji.jpg">
         
        </div>
      </div>
         <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative shadow-2xl ">
          <img alt="gallery" class=" inset-0 w-full h-full object-cover object-center" src="../static/images/janji.jpg">
         
        </div>
      </div>
         <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative shadow-2xl ">
          <img alt="gallery" class=" inset-0 w-full h-full object-cover object-center" src="../static/images/janji.jpg">
         
        </div>
      </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative shadow-2xl ">
          <img alt="gallery" class=" inset-0 w-full h-full object-cover object-center" src="../static/images/janji.jpg">
         
        </div>
      </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative shadow-2xl ">
          <img alt="gallery" class=" inset-0 w-full h-full object-cover object-center" src="../static/images/janji.jpg">
         
        </div>
      </div>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <h1 class="text-3xl font-medium title-font text-gray-900 mb-12 text-center">Testimonials</h1>
    <div class="flex flex-wrap -m-4">
      <div class="p-4 md:w-1/2 w-full">
        <div class="h-full bg-gray-100 p-8 rounded">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-400 mb-4" viewBox="0 0 975.036 975.036">
            <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
          </svg>
          <p class="leading-relaxed mb-6">What a great coffe and i should try again and again order next time soon...</p>
          <a class="inline-flex items-center">
           
            <span class="flex-grow flex flex-col pl-4">
              <span class="title-font font-medium text-gray-900">Holden Caulfield</span>
              <span class="text-gray-500 text-sm">UI DEVELOPER</span>
            </span>
          </a>
        </div>
      </div>
      <div class="p-4 md:w-1/2 w-full">
        <div class="h-full bg-gray-100 p-8 rounded">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-400 mb-4" viewBox="0 0 975.036 975.036">
            <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
          </svg>
           <p class="leading-relaxed mb-6">What a great coffe and i should try again and again order next time soon...</p>
          <a class="inline-flex items-center">
           
            <span class="flex-grow flex flex-col pl-4">
              <span class="title-font font-medium text-gray-900">Alper Kamu</span>
              <span class="text-gray-500 text-sm">DESIGNER</span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

{%endblock%}
